<h1>Stupid coaching</h1>
<div class="display-question">
  <%= @question %>
  <p>–You</p>
</div>
<div class="display-answer">
  <strong> <%= @answer %> </strong> <br>
  <p>–Your coach</p>
</div>
<div class="link">
  <a href="ask">Ask a new question</a>
</div>
